# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [4]:
a=np.random.randint(1,4,100)
b=np.random.randint(1,3,100)
c=np.random.randint(10000,30000,100)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [5]:

df=pd.DataFrame({
    'col1' : a,
    'col2': b,
    'col3': c
})
df

    col1  col2   col3
0      1     1  26828
1      1     1  28667
2      1     2  26925
3      3     1  25258
4      3     1  12316
..   ...   ...    ...
95     2     1  15832
96     1     2  28180
97     1     2  29258
98     1     2  13752
99     3     2  18571

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [6]:
df.rename(columns={"col1": "bedrs","col2":"bathrs", "col3":"price_sqr_meter"}, inplace=True)
df

    bedrs  bathrs  price_sqr_meter
0       1       1            26828
1       1       1            28667
2       1       2            26925
3       3       1            25258
4       3       1            12316
..    ...     ...              ...
95      2       1            15832
96      1       2            28180
97      1       2            29258
98      1       2            13752
99      3       2            18571

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [8]:
d=np.arange(3)
df["DataFrame"]=d

ValueError: Length of values (3) does not match length of index (100)

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
right

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [15]:
df=pd.DataFrame({
    'bedrs' : range(0,299),
    'bathrs': range(0,299),
    'price_sqr_meter': range(0,299)
})
df

     bedrs  bathrs  price_sqr_meter
0        0       0                0
1        1       1                1
2        2       2                2
3        3       3                3
4        4       4                4
..     ...     ...              ...
294    294     294              294
295    295     295              295
296    296     296              296
297    297     297              297
298    298     298              298

[299 rows x 3 columns]