# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import io
import requests

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [5]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
s = requests.get(url).content
drinks = pd.read_csv(io.StringIO(s.decode('utf-8')))
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [8]:
drinks['continent'][drinks['beer_servings']== int(drinks['beer_servings'].mean())]

170    EU
Name: continent, dtype: object

### Step 5. For each continent print the statistics for wine consumption.

In [39]:
for i in drinks:
    print('The country ' +drinks['country'] +str(drinks['wine_servings'].describe()) + ' is  the statistics for wine consumption ')

0      The country Afghanistancount    193.000000\nme...
1      The country Albaniacount    193.000000\nmean  ...
2      The country Algeriacount    193.000000\nmean  ...
3      The country Andorracount    193.000000\nmean  ...
4      The country Angolacount    193.000000\nmean   ...
                             ...
188    The country Venezuelacount    193.000000\nmean...
189    The country Vietnamcount    193.000000\nmean  ...
190    The country Yemencount    193.000000\nmean    ...
191    The country Zambiacount    193.000000\nmean   ...
192    The country Zimbabwecount    193.000000\nmean ...
Name: country, Length: 193, dtype: object
0      The country Afghanistancount    193.000000\nme...
1      The country Albaniacount    193.000000\nmean  ...
2      The country Algeriacount    193.000000\nmean  ...
3      The country Andorracount    193.000000\nmean  ...
4      The country Angolacount    193.000000\nmean   ...
                             ...
188    The country Venezuelacount    193.000000\nmean...
189    The country Vietnamcount    193.000000\nmean  ...
190    The country Yemencount    193.000000\nmean    ...
191    The country Zambiacount    193.000000\nmean   ...
192    The country Zimbabwecount    193.000000\nmean ...
Name: country, Length: 193, dtype: object
0      The country Afghanistancount    193.000000\nme...
1      The country Albaniacount    193.000000\nmean  ...
2      The country Algeriacount    193.000000\nmean  ...
3      The country Andorracount    193.000000\nmean  ...
4      The country Angolacount    193.000000\nmean   ...
                             ...
188    The country Venezuelacount    193.000000\nmean...
189    The country Vietnamcount    193.000000\nmean  ...
190    The country Yemencount    193.000000\nmean    ...
191    The country Zambiacount    193.000000\nmean   ...
192    The country Zimbabwecount    193.000000\nmean ...
Name: country, Length: 193, dtype: object
0      The country Afghanistancount    193.000000\nme...
1      The country Albaniacount    193.000000\nmean  ...
2      The country Algeriacount    193.000000\nmean  ...
3      The country Andorracount    193.000000\nmean  ...
4      The country Angolacount    193.000000\nmean   ...
                             ...
188    The country Venezuelacount    193.000000\nmean...
189    The country Vietnamcount    193.000000\nmean  ...
190    The country Yemencount    193.000000\nmean    ...
191    The country Zambiacount    193.000000\nmean   ...
192    The country Zimbabwecount    193.000000\nmean ...
Name: country, Length: 193, dtype: object
0      The country Afghanistancount    193.000000\nme...
1      The country Albaniacount    193.000000\nmean  ...
2      The country Algeriacount    193.000000\nmean  ...
3      The country Andorracount    193.000000\nmean  ...
4      The country Angolacount    193.000000\nmean   ...
                             ...
188    The country Venezuelacount    193.000000\nmean...
189    The country Vietnamcount    193.000000\nmean  ...
190    The country Yemencount    193.000000\nmean    ...
191    The country Zambiacount    193.000000\nmean   ...
192    The country Zimbabwecount    193.000000\nmean ...
Name: country, Length: 193, dtype: object
0      The country Afghanistancount    193.000000\nme...
1      The country Albaniacount    193.000000\nmean  ...
2      The country Algeriacount    193.000000\nmean  ...
3      The country Andorracount    193.000000\nmean  ...
4      The country Angolacount    193.000000\nmean   ...
                             ...
188    The country Venezuelacount    193.000000\nmean...
189    The country Vietnamcount    193.000000\nmean  ...
190    The country Yemencount    193.000000\nmean    ...
191    The country Zambiacount    193.000000\nmean   ...
192    The country Zimbabwecount    193.000000\nmean ...
Name: country, Length: 193, dtype: object

### Step 6. Print the mean alcohol consumption per continent for every column

In [45]:
for i in drinks:
    print('The continent ' +drinks['continent'] +str(drinks['total_litres_of_pure_alcohol'].mean()) + ' is  the mean for pure alcohol consumption '+ str(drinks['spirit_servings'].mean()) + ' is  the mean for spirit consumption '+  str(drinks['wine_servings'].mean()) + ' and is  the mean for wine consumption '+ str(drinks['beer_servings'].mean()) + 'and is  the mean for beer consumption ')

0      The continent AS4.717098445595855 is  the mean...
1      The continent EU4.717098445595855 is  the mean...
2      The continent AF4.717098445595855 is  the mean...
3      The continent EU4.717098445595855 is  the mean...
4      The continent AF4.717098445595855 is  the mean...
                             ...
188    The continent SA4.717098445595855 is  the mean...
189    The continent AS4.717098445595855 is  the mean...
190    The continent AS4.717098445595855 is  the mean...
191    The continent AF4.717098445595855 is  the mean...
192    The continent AF4.717098445595855 is  the mean...
Name: continent, Length: 193, dtype: object
0      The continent AS4.717098445595855 is  the mean...
1      The continent EU4.717098445595855 is  the mean...
2      The continent AF4.717098445595855 is  the mean...
3      The continent EU4.717098445595855 is  the mean...
4      The continent AF4.717098445595855 is  the mean...
                             ...
188    The continent SA4.717098445595855 is  the mean...
189    The continent AS4.717098445595855 is  the mean...
190    The continent AS4.717098445595855 is  the mean...
191    The continent AF4.717098445595855 is  the mean...
192    The continent AF4.717098445595855 is  the mean...
Name: continent, Length: 193, dtype: object
0      The continent AS4.717098445595855 is  the mean...
1      The continent EU4.717098445595855 is  the mean...
2      The continent AF4.717098445595855 is  the mean...
3      The continent EU4.717098445595855 is  the mean...
4      The continent AF4.717098445595855 is  the mean...
                             ...
188    The continent SA4.717098445595855 is  the mean...
189    The continent AS4.717098445595855 is  the mean...
190    The continent AS4.717098445595855 is  the mean...
191    The continent AF4.717098445595855 is  the mean...
192    The continent AF4.717098445595855 is  the mean...
Name: continent, Length: 193, dtype: object
0      The continent AS4.717098445595855 is  the mean...
1      The continent EU4.717098445595855 is  the mean...
2      The continent AF4.717098445595855 is  the mean...
3      The continent EU4.717098445595855 is  the mean...
4      The continent AF4.717098445595855 is  the mean...
                             ...
188    The continent SA4.717098445595855 is  the mean...
189    The continent AS4.717098445595855 is  the mean...
190    The continent AS4.717098445595855 is  the mean...
191    The continent AF4.717098445595855 is  the mean...
192    The continent AF4.717098445595855 is  the mean...
Name: continent, Length: 193, dtype: object
0      The continent AS4.717098445595855 is  the mean...
1      The continent EU4.717098445595855 is  the mean...
2      The continent AF4.717098445595855 is  the mean...
3      The continent EU4.717098445595855 is  the mean...
4      The continent AF4.717098445595855 is  the mean...
                             ...
188    The continent SA4.717098445595855 is  the mean...
189    The continent AS4.717098445595855 is  the mean...
190    The continent AS4.717098445595855 is  the mean...
191    The continent AF4.717098445595855 is  the mean...
192    The continent AF4.717098445595855 is  the mean...
Name: continent, Length: 193, dtype: object
0      The continent AS4.717098445595855 is  the mean...
1      The continent EU4.717098445595855 is  the mean...
2      The continent AF4.717098445595855 is  the mean...
3      The continent EU4.717098445595855 is  the mean...
4      The continent AF4.717098445595855 is  the mean...
                             ...
188    The continent SA4.717098445595855 is  the mean...
189    The continent AS4.717098445595855 is  the mean...
190    The continent AS4.717098445595855 is  the mean...
191    The continent AF4.717098445595855 is  the mean...
192    The continent AF4.717098445595855 is  the mean...
Name: continent, Length: 193, dtype: object

### Step 7. Print the median alcohol consumption per continent for every column

In [44]:
for i in drinks:
    print('The continent ' +drinks['continent'] +str(drinks['total_litres_of_pure_alcohol'].median()) + ' is  the median for pure alcohol consumption '+ str(drinks['spirit_servings'].median()) + ' is  the median for spirit consumption '+  str(drinks['wine_servings'].median()) + ' and is  the median for wine consumption '+ str(drinks['beer_servings'].median()) + 'and is  the median for beer consumption ')

0      The continent AS4.2 is  the median for pure al...
1      The continent EU4.2 is  the median for pure al...
2      The continent AF4.2 is  the median for pure al...
3      The continent EU4.2 is  the median for pure al...
4      The continent AF4.2 is  the median for pure al...
                             ...
188    The continent SA4.2 is  the median for pure al...
189    The continent AS4.2 is  the median for pure al...
190    The continent AS4.2 is  the median for pure al...
191    The continent AF4.2 is  the median for pure al...
192    The continent AF4.2 is  the median for pure al...
Name: continent, Length: 193, dtype: object
0      The continent AS4.2 is  the median for pure al...
1      The continent EU4.2 is  the median for pure al...
2      The continent AF4.2 is  the median for pure al...
3      The continent EU4.2 is  the median for pure al...
4      The continent AF4.2 is  the median for pure al...
                             ...
188    The continent SA4.2 is  the median for pure al...
189    The continent AS4.2 is  the median for pure al...
190    The continent AS4.2 is  the median for pure al...
191    The continent AF4.2 is  the median for pure al...
192    The continent AF4.2 is  the median for pure al...
Name: continent, Length: 193, dtype: object
0      The continent AS4.2 is  the median for pure al...
1      The continent EU4.2 is  the median for pure al...
2      The continent AF4.2 is  the median for pure al...
3      The continent EU4.2 is  the median for pure al...
4      The continent AF4.2 is  the median for pure al...
                             ...
188    The continent SA4.2 is  the median for pure al...
189    The continent AS4.2 is  the median for pure al...
190    The continent AS4.2 is  the median for pure al...
191    The continent AF4.2 is  the median for pure al...
192    The continent AF4.2 is  the median for pure al...
Name: continent, Length: 193, dtype: object
0      The continent AS4.2 is  the median for pure al...
1      The continent EU4.2 is  the median for pure al...
2      The continent AF4.2 is  the median for pure al...
3      The continent EU4.2 is  the median for pure al...
4      The continent AF4.2 is  the median for pure al...
                             ...
188    The continent SA4.2 is  the median for pure al...
189    The continent AS4.2 is  the median for pure al...
190    The continent AS4.2 is  the median for pure al...
191    The continent AF4.2 is  the median for pure al...
192    The continent AF4.2 is  the median for pure al...
Name: continent, Length: 193, dtype: object
0      The continent AS4.2 is  the median for pure al...
1      The continent EU4.2 is  the median for pure al...
2      The continent AF4.2 is  the median for pure al...
3      The continent EU4.2 is  the median for pure al...
4      The continent AF4.2 is  the median for pure al...
                             ...
188    The continent SA4.2 is  the median for pure al...
189    The continent AS4.2 is  the median for pure al...
190    The continent AS4.2 is  the median for pure al...
191    The continent AF4.2 is  the median for pure al...
192    The continent AF4.2 is  the median for pure al...
Name: continent, Length: 193, dtype: object
0      The continent AS4.2 is  the median for pure al...
1      The continent EU4.2 is  the median for pure al...
2      The continent AF4.2 is  the median for pure al...
3      The continent EU4.2 is  the median for pure al...
4      The continent AF4.2 is  the median for pure al...
                             ...
188    The continent SA4.2 is  the median for pure al...
189    The continent AS4.2 is  the median for pure al...
190    The continent AS4.2 is  the median for pure al...
191    The continent AF4.2 is  the median for pure al...
192    The continent AF4.2 is  the median for pure al...
Name: continent, Length: 193, dtype: object

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [46]:
drinks.spirit_servings.describe()

count    193.000000
mean      80.994819
std       88.284312
min        0.000000
25%        4.000000
50%       56.000000
75%      128.000000
max      438.000000
Name: spirit_servings, dtype: float64

In [50]:
print("the mean for spirit consumption ("+str(drinks.spirit_servings.mean())+ " )and the max is ("+str(drinks.spirit_servings.max())+") and the min is ( "+str(drinks.spirit_servings.min())+" )")

the mean for spirit consumption (80.99481865284974 )and the max is (438) and the min is ( 0 )