# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd 
import io
import requests

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
ndata = {"evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
             "hp": [45, 39, 44, 45],
            "name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "pokedex": ['yes', 'no','yes','no'],   
            "type": ['grass', 'fire', 'water', 'bug']
            }

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame(ndata)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution','pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
pokemon['place'] = ['1st','3st','6st','8st']
pokemon

C:\Users\hp\AppData\Local\Temp\ipykernel_12956\3941826736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] = ['1st','3st','6st','8st']

         name   type  hp   evolution pokedex place
0   Bulbasaur  grass  45     Ivysaur     yes   1st
1  Charmander   fire  39  Charmeleon      no   3st
2    Squirtle  water  44   Wartortle     yes   6st
3    Caterpie    bug  45     Metapod      no   8st

### Step 6. Present the type of each column

In [6]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [7]:
#count the nan and duplicated

In [15]:
pokemon.isna

<bound method DataFrame.isna of          name   type  hp   evolution pokedex place
0   Bulbasaur  grass  45     Ivysaur     yes   1st
1  Charmander   fire  39  Charmeleon      no   3st
2    Squirtle  water  44   Wartortle     yes   6st
3    Caterpie    bug  45     Metapod      no   8st>

In [14]:
pokemon.duplicated

<bound method DataFrame.duplicated of          name   type  hp   evolution pokedex place
0   Bulbasaur  grass  45     Ivysaur     yes   1st
1  Charmander   fire  39  Charmeleon      no   3st
2    Squirtle  water  44   Wartortle     yes   6st
3    Caterpie    bug  45     Metapod      no   8st>